input,
textarea,
select {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in WebKit browsers */
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* styles/globals.css */
body {
  -webkit-user-select: none; /* Safari and Chrome syntax */
  -moz-user-select: none; /* Firefox syntax */
  -ms-user-select: none; /* Internet Explorer/Edge syntax */
  user-select: none; /* Standard syntax */
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in WebKit browsers */
}
